/* General CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  clear: both;
}
body {
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}
h1 {
  font-size: 1.7em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.3em;
}

section{
    margin:25px 0;
}
p{
    color: #686de0;
}

input{
    border-radius:5px;
}

/* Container */
.container {
  margin: 0 auto;
  width: 90%;
}
/* Section-Heading */
.section-heading {
  color: #130f40;
  margin-bottom: 20px;
}
/* ==Header== */
.main-header {
  text-align: center;
}
.title {
  background-color: #30336b;
  color: #dff9fb;
  margin-bottom: 25px;
  padding: 25px;
}
.main-header p {
  margin-bottom: 25px;
  padding: 10px;
}

/* H-Rules */
.first-hr {
  border: 2px solid #30336b;
}
.second-hr {
  border: 1px solid #30336b;
  margin-top: 5px;
}

/* ==Contact Info== */

.contact-inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.contact-inputs label {
  color: #30336b;
  margin-bottom: 10px;

}
.contact-inputs input, select{
    margin-bottom: 15px;
}
.contact-inputs input, select,textarea {
  background-color: #eff0f1;
  border: 0px;
  outline-color: #30336b;
}
.contact-inputs input,select{
    height: 40px;
}
.contact-inputs input {
  padding: 15px;
}
select {
  text-indent: 10px;
}
/* Required text */
::placeholder {
  text-align: right;
}
#zip{width:50%}

/* Newsletter Format */
#newsletter-options p{
    margin:10px 0;
}
#newsletter-options label{
    color:#000;
}
[class$="buttons"] input{
    margin-left:5px;
    margin-right: 10px;
}
[class$="buttons"]{
    margin:15px 0;
}
input:checked {
background-color:#30336b;
}
.form-comment{
    display: flex;
    flex-direction: column;
}
.form-comment textarea{
    height: 80px;
    outline-color: #30336b;
}
input[type='submit']{
    border:0px;
    background-color:#7ed6df;
    color:#dff9fb;
    height:50px;
    font-size:18px;
    font-family: "Raleway", sans-serif;
    margin-top:15px;
}
/* ==Footer== */
footer{
    text-align: center;
    color:#ccc;
    padding-bottom:20px;
}