/*== General CSS ==*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  clear: both;
}
body {
  font-family: "Lato", sans-serif;
}
h1,
h2,
legend {
  font-family: "Raleway", sans-serif;
}
h1 {
  font-size: 1.7em;
}
h2 {
  font-size: 1.5em;
}
legend {
  font-size: 1.3em;
  font-weight: 800;
  float: left;
}
.sub-heading {
  color: #686de0 !important;
}
select {
  background-color: #fff;
}
fieldset{border:0px}
/* Input,select,textarea */
input,
select,
textarea {
  border: 1px solid #ccc;
  transition: ease-in-out, background-color 0.5s ease-in-out;
}
input:focus,
select:focus,
textarea:focus {
  outline-color: #30336b;
  background-color: #d5f9fd;
  transition: ease-in-out, background-color 0.5s ease-in-out;
}
select,
textarea {
  text-indent: 10px;
}
/* Container */
.container {
  width:90%;
  margin:0 auto;
  padding: 0 1em;
}
/* Section-Heading */
.section-heading {
  color: #130f40;
  padding-top: 25px;
  margin-bottom: 20px;
}
/* ==Header== */
.main-header {
  text-align: center;
}
.title {
  background-color: #30336b;
  color: #dff9fb;
  margin-bottom: 25px;
  padding: 25px;
}
.main-header p {
  margin-bottom: 25px;
  padding: 10px;
}

/* H-Rules */
.first-hr {
  border: 2px solid #30336b;
}
.second-hr {
  border: 1px solid #30336b;
  margin-top: 5px;
}
.third-hr {
  border: 1px solid #30336b;
}
/* ==Contact Info== */

.contact-inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.contact-inputs label {
  color: #000;
  margin-bottom: 10px;
}
.contact-inputs input,
select {
  margin-bottom: 15px;
}

.contact-inputs input,
select {
  height: 40px;
}
.contact-inputs input {
  padding: 15px;
}

/* Placeholder CSS */
#fullName::placeholder,
#email::placeholder {
  text-align: right;
}
#zip {
  width: 50%;
}
.contact-inputs:last-child {
  margin-bottom: 0;
  padding-bottom: 12px;
}
/* ==Newsletter Format== */
#newsletter {
  background-color: #dff9fb;
}
.small-indent {
  margin: 0 0.5em;
}
#newsletter label {
  color: #000;
}
[class$="buttons"] input {
  margin-left: 5px;
  margin-right: 10px;
}
[class$="buttons"] {
  margin: 15px 0;
}
input:checked {
  background-color: #30336b;
}
#plain {
  margin-bottom: 25px;
}
.sub-heading {
  margin: 20px 0;
  padding-top: 10px;
}
label[for="comment"] {
  margin: 20px 0;
  padding-top: 10px;
}
.form-comment {
  display: flex;
  flex-direction: column;
}
.form-comment textarea {
  height: 80px;
  margin-bottom: 1.8em;
  margin-top: 1.2em;
  outline-color: #30336b;
}
input[type="submit"] {
  border: 0px;
  background-color: #7ed6df;
  color: #dff9fb;
  height: 50px;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  margin-top: 15px;
}
/* ==Footer== */
footer {
  text-align: center;
  color: #ccc;
  margin: 25px 0;
}

@media only screen and (min-width: 768px) {
  .container{
    max-width: 550px;
  }
  .contact-inputs {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .contact-inputs input,
  select {
    width: 70%;
  }
  .contact-inputs label {
    width: 30%;
  }
  .small-indent {
    margin: 0;
  }
}
